<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-left">
        <p class="footer-left__title">Фея74 - <a href="">Праздничное агентство в Челябинске</a></p>
        <ul class="footer-left__menu">
          <li><a href="">Свадьбы</a></li>
          <li><a href="">Детские праздники</a></li>
          <li><a href="">Юбилеи</a></li>
          <li><a href="">Корпоративы</a></li>
          <li><a href="">Выпускные</a></li>
        </ul>
        <p class="mb-10">Весь спектр праздничных услуг в Челябинске и в Челябинской области.</p>
        <p class="mb-10">г. Челябинск</p>
        <p class="mb-10">Телефон: 89085828682, 8 (351) 776-07-59, 89227534343, 8(351)776-07-52, e-mail: feya-74@yandex.ru</p>
        <p>Информация о услугах, представленная в рамках нашего онлайн-проекта, носит справочно-ознакомительный характер и не является публичной офертой (ст. 437 ГК РФ)
        </p>
        <p></p>
      </div>
      <div class="footer-right">
        <div class="footer-right__img" ></div>
        <p><img src="images/astrapromo-logo.png" alt="">Создание и продвижение сайтов  <a href="">Аstrapromo</a></p>
      </div>
    </div>
  </div>

</footer>