{% load static %}
<header class="header">
  <div class="header__top">
    <div class="header__top-logo">
      <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
    </div>
    <div class="header__top-call">
      <p class="header__top-call-title">Сделать заказ</p>
      <div class="header__top-call-wrapper">
        <div class="header__top-call-messengers">
          <img src="{% static 'images/icon_watsapp.png' %}" alt="">
          <img src="{% static 'images/icon_viber.png' %}" alt="">
          <p class="header__top-call-messengers">89085828682</p>
          <p class="header__top-call-messengers">89227534343</p>
        </div>
        <div class="header__top-call-phones">
          <p class="header__top-call-phones-item ">8 (351) <span>776-07-59</span></p>
          <p class="header__top-call-phones-item">8 (351) <span>776-07-52</span></p>
        </div>
      </div>

    </div>
  </div>
  <div class="header__banner" style="background: url({% static 'images/b1.png' %})"></div>
  <nav class="header__menu">
    <ul class="header__menu-wrapper">
      <li class="header__menu-item"><a class="header__menu-link" href="">Детские праздники</a>
        <div class="header__menu-submenu ">
          <!--          headerSubMenuActive-->
          <div class="header__menu-submenu-wrapper">
            <ul class="header__menu-submenu-list">
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.Lorem</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum LoremLorem</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
            </ul>
            <ul class="header__menu-submenu-list">
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
              <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="">Lorem ipsum.</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="header__menu-item"><a class="header__menu-link" href="">Свадьба</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="">Корпоративные мероприятия</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="">Выпускные</a></li>
    </ul>
  </nav>
</header>