{% load static %}
<header class="header">
  <div class="header__top">
    <div class="header__top-logo">
      <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
    </div>
    <div class="header__top-call">
      <p class="header__top-call-title">Сделать заказ</p>
      <div class="header__top-call-wrapper">
        <div class="header__top-call-messengers">
          <img src="{% static 'images/icon_watsapp.png' %}" alt="">
          <img src="{% static 'images/icon_viber.png' %}" alt="">
          <p class="header__top-call-messengers">89085828682</p>
          <p class="header__top-call-messengers">89227534343</p>
        </div>
        <div class="header__top-call-phones">
          <p class="header__top-call-phones-item ">8 (351) <span>776-07-59</span></p>
          <p class="header__top-call-phones-item">8 (351) <span>776-07-52</span></p>
        </div>
      </div>

    </div>
  </div>
  <div id="banner" class="header__banner" style="background: url({% static 'images/b1.png' %})"></div>
  <nav class="header__menu">
    <ul class="header__menu-wrapper">
        {% for topItem in topMenu %}
      <li class="header__menu-item"><a  onmouseover="changeBanner('{{ topItem.banner_bg.url }}','{{ topItem.id }}')" class="header__menu-link" href="{% url 'event_page' topItem.event_url.name_slug %}">{{ topItem.name }}</a>
         {% if topItem.event_items %}
          <div style="z-index:100" id="sub_{{ topItem.id }}" class="header__menu-submenu " onmouseleave="closeMenu()">
          <!--          headerSubMenuActive-->
          <div class="header__menu-submenu-wrapper">
            <ul class="header__menu-submenu-list">
                {% for subItem in topItem.event_items.all %}
                    <li class="header__menu-submenu-item"><a class="header__menu-submenu-link" href="{% url 'event_page' subItem.name_slug %}">{{ subItem.name }}</a></li>

                {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      </li>
        {% endfor %}
    </ul>
  </nav>
</header>